<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <% secrets.secret.forEach(function(f,index){ %>
      <br>
      <form action="/delete" method="post">
        <div class="row">
          <div class="secret-text col-10"><%=f%></div>
          <div class="col-1">
            <button class="btn btn-light" onclick="submitEditForm(event, `<%=f%>`, `<%=index%>`)">EDIT</button>
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-light">DEL</button>
            <input type="hidden" name="secret" value="<%=f%>">
            <input type="hidden" name="id" value="<%=secrets._id%>">
          </div>
        </div>
      </form>
      <form id="editForm_<%=f%>_<%=index%>" action="/edit" method="post">
        <input type="hidden" name="secret" value="<%=f%>">
        <input type="hidden" name="id" value="<%=secrets._id%>">
      </form>
    <% }) %>
    <hr>
    <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
    <a class="btn btn-danger btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>
<script>
  function submitEditForm(event, secret, id) {
    console.log(secret,id);
    event.preventDefault();
    var editForm = document.getElementById("editForm_" + secret + "_" + id);
    editForm.submit();
  }
</script>

<%- include('partials/footer') %>
